backgroundColor = #000
goldColor = #87754f

html
body 
	background-color backgroundColor


.logo
	width 100%
	height 67px
	text-align center
	position fixed
	z-index 999

.fly
	position fixed
	width 50%
	margin-top -20%
	margin-left -20%
	border 10px solid
	border-color goldColor
	:hover
		width 58%