backgroundColor = #000
goldColor = #87754f
selectionColor = red
fittyPer = 50%
translateFitty = translate(-50%, 0%)
transform(n)
  -webkit-transform n
  -moz-transform n
  -o-transform n
  transform n

html
body 
  background-color backgroundColor
  overflow hidden


.logo
width 600px
height 67px
text-align center
position fixed
top 20px
left fittyPer
transform translateFitty
z-index 999
  img
    width 100%

.vert-1
  height 700px
  width 536px
  top 0px
  border 2px solid
  z-index 444
  border-color #87754f
  position fixed
  -webkit-animation bounce 4s infinite linear
  -moz-animation bounce 4s infinite linear
  animation bounce 4s infinite linear

.vert-2
  height 700px
  width 536px
  top 0px
  z-index 555
  border 2px solid
  border-color #87754f
  position fixed
  -webkit-animation bounce 6s infinite linear
  -moz-animation bounce 6s infinite linear
  animation bounce 6s infinite linear


@-webkit-keyframes bounce 
  0% 
    top 0
  50% 
    top 100%
    margin-top -700px
  100% 
    top 0

@-moz-keyframes bounce 
  0% 
    top 0
  50% 
    top 100%
    margin-top -700px
  100% 
    top 0

@keyframes bounce 
  0% 
    top 0
  50% 
    top 100%
    margin-top -700px
  100% 
    top 0


.horiz-1 
  height 100%
  width 0px
  position fixed
  -webkit-animation slide 5s infinite linear
  -moz-animation slide 5s infinite linear
  animation slide 5s infinite linear

.horiz-2 
  height 100%
  width 0px
  position fixed
  -webkit-animation slide 8s infinite linear
  -moz-animation slide 8s infinite linear
  animation slide 8s infinite linear

@-webkit-keyframes slide 
  0% 
    left 10px
  50% 
    left 100% 
    margin-left -536px
  100% 
    left 0

@-moz-keyframes slide 
  0% 
    left 0
  50% 
    left 100% 
    margin-left -536px
  100% 
    left 0

@keyframes slide 
  0% 
    left 0
  50% 
    left 100% 
    margin-left -536px
  100% 
    left 0


::selection 
    background selectionColor

::-moz-selection 
    background selectionColor
